html,body {
    height: 100%;
    margin: 0;
    background-color: white;
    color: darkolivegreen;
    font-family: 'Lato', sans-serif;
}

header {
    position: relative;
    margin: 20px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 3px;
}

.gamelogo {
    margin: 0 auto;
    background-image: url("../images/carlogo.png");
    background-size: cover;
    width: 170px;
    height: 170px;
}

form {
    margin: 20px auto;
    width: 400px;
    height: 10%;
    background-color: white;
    padding: 30px;
    position:relative;
    border: 1px solid #b3aca7;

}

.signup {
    margin: 20px auto;
    width: 400px;
    height: 10%;
    background-color: white;
    padding: 30px;
    position:relative;
    border: 1px solid #b3aca7;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: solid 1px #b3aca7;
    box-sizing: border-box;
    background-color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: silver;
    color: #e2dedb;
}

input:focus {
    outline: none;
}

#loginBtn {
    background-color: darkolivegreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

#loginBtn:hover {
    background: #b3aca7;
    color: #e2dedb;
}

.createacc {
    display: table;
    margin: 0 auto;
}

.createacc a {
    color: #5f5b58;
}

#signupp{
    text-align: center;
}

.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
    margin-top: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.cancelbtn {
    letter-spacing: 2px;
    padding: 14px 20px;
    background-color: darkolivegreen;
    color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.signupbtn {
    letter-spacing: 2px;
    padding: 14px 20px;
    background-color: darkolivegreen;
    color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.signupbtn:hover {
    background: #b3aca7;
    color: #e2dedb;
}

.cancelbtn:hover {
    background: #b3aca7;
    color: #e2dedb;
}

.cancelbtn a, .signupbtn, a {
    text-decoration: none;
    color: white;
}

.footer {
    /** position must be FIXED for footer to go to bottom of page **/
    position: fixed;
    bottom: 0;
    width: 100%;
    background: darkolivegreen;
    height: 45px;
    text-align: center;
    color: white;
}

#icon-list {
    margin: 0 auto;
    display: inline-flex;
}

#icon-list li {
    margin-top: 10px;
    list-style: none;
}

#icon-list li a {
    display: inline-block;
    width: 28px;
    height: 30px;
    background: darkolivegreen;
    font-size: 20px;
    border-radius: 50%;
    margin: 0px 5px;
    color: white;
    transition: .5s ease-in;
}

iframe {
    width: 0;
    height: 0;
    border: 0;
    border: none;
}

.container {
    margin: 20px auto;
    width: 300px;
    height: auto;
    background-color: white;
    padding: 30px;
    position:relative;
    border: 1px solid #b3aca7;
}

.mbtn {
    background-color: darkolivegreen;
    color: white;
    letter-spacing: 2px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.mbtn:hover {
    background: #b3aca7;
    color: #e2dedb;
}

.cinstruc {
    margin: 20px auto;
    width: 400px;
    height: auto;
    background-color: #e2dedb;
    padding: 30px;
    position:relative;
    border: 1px solid #b3aca7;
}

.leaderContainer{
    width:50%;
    color:white;
    margin-left:auto;
    margin-right:auto;
}
.leaderTable{
    width:100%;
    font-size:25px;
    background-color: #5f5b58;
    font-size: 20px;
}

#player {
    width: 40%;
}

#completed {
    width: 40%;
}

table td {
    text-align: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

table td:hover {
    background: #b3aca7;
    color: #e2dedb;
}

th{
    background-color: #817c78;
    height:50px;
    color:white;
}
td{
    text-align: left;
    height:50px;
}


h1{
    text-align:center;
}

.completeSignup {
    text-decoration: none;
    color: black;
}

.header {
    top: 0;
    width: 100%;
    background: darkolivegreen;
    height: 45px;
    color: white;

}

#nav {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline-block;
    margin-left: 35px;
    padding-top: 15px;
    padding-right: 20px;
}

.profile {
    margin: 20px auto;
    width: 400px;
    height: 10%;
    background-color: white;
    padding: 30px;
    position:relative;
    border: 1px solid #b3aca7;

}


.profilebtn {
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 50%;
    letter-spacing: 2px;
    padding: 14px 20px;
    background-color: darkolivegreen;
    color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.btnheader{
    width: 20%;
}

table tr td{
    float: left;
    padding-left: 5%;
}




