@CHARSET "ISO-8859-1";
body{
	background-color: #e2dedb;
	text-align: left;
	    background-color: white;
	
}
h1{
	text-align: center;
}
table{
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

.inventory_main{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	background-color: #e2dedb;
    position:relative;
    border: 1px solid #b3aca7;
}
.creditCard_infor{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	background:white;
	border: 1px solid blak;

}


button{
	margin-left:auto;
	margin-right:auto;
}
.bill_container{
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
.card_icon{
	width:100px;;
	height:85px;
}

.final_container{
	width:80%;
	margin-left:auto;
	margin-right:auto;
    border: 1px solid #b3aca7;
    text-align: center;
}
header {
    position: relative;
    margin: 20px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 3px;
}

.gamelogo {
    margin: 0 auto;
    background-image: url("../images/carlogo.png");
    background-size: cover;
    width: 170px;
    height: 170px;
}

.signup {
    margin: 20px auto;
    width: 400px;
    height: 10%;
    background-color: white;
    padding: 30px;
    position:relative;
    border: 1px solid #b3aca7;
}

#loginBtn {
    background-color: darkolivegreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

#loginBtn:hover {
    background: #b3aca7;
    color: #e2dedb;
}

.createacc {
    display: table;
    margin: 0 auto;
}

.createacc a {
    color: #5f5b58;
}

#signupp{
    text-align: center;
}

.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
    margin-top: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.cancelbtn {
    letter-spacing: 2px;
    padding: 14px 20px;
    background-color: darkolivegreen;
    color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.signupbtn {
    letter-spacing: 2px;
    padding: 14px 20px;
    background-color: darkolivegreen;
    color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.signupbtn:hover {
    background: #b3aca7;
    color: #e2dedb;
}

.cancelbtn:hover {
    background: #b3aca7;
    color: #e2dedb;
}

.cancelbtn a, .signupbtn, a {
    text-decoration: none;
    color: white;
}

.footer {
    /** position must be FIXED for footer to go to bottom of page **/
    position: fixed;
    bottom: 0;
    width: 100%;
    background: darkolivegreen;
    height: 45px;
    text-align: center;
    color: white;
}

#icon-list {
    margin: 0 auto;
    display: inline-flex;
}

#icon-list li {
    margin-top: 10px;
    list-style: none;
}

#icon-list li a {
    display: inline-block;
    width: 28px;
    height: 30px;
    background: darkolivegreen;
    font-size: 20px;
    border-radius: 50%;
    margin: 0px 5px;
    color: white;
    transition: .5s ease-in;
}

.container {
    margin: 20px auto;
    width: 300px;
    height: auto;
    background-color: white;
    padding: 30px;
    position:relative;
    border: 1px solid #b3aca7;
}

.mbtn {
    background-color: darkolivegreen;
    color: white;
    letter-spacing: 2px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.mbtn:hover {
    background: #b3aca7;
    color: #e2dedb;
}

.cinstruc {
    margin: 20px auto;
    width: 400px;
    height: auto;
    background-color: #e2dedb;
    padding: 30px;
    position:relative;
    border: 1px solid #b3aca7;
}

.leaderContainer{
    width:50%;
    color:white;
    margin-left:auto;
    margin-right:auto;
}
.leaderTable{
    width:100%;
    font-size:25px;
    background-color: #5f5b58;
    font-size: 20px;
}

#player {
    width: 40%;
}

#completed {
    width: 40%;
}

.completeSignup {
    text-decoration: none;
    color: black;
}

.header {
    top: 0;
    width: 100%;
    background: darkolivegreen;
    height: 45px;
    color: white;

}

#nav {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline-block;
    margin-left: 35px;
    padding-top: 15px;
    padding-right: 20px;
}

.profile {
    margin: 20px auto;
    width: 400px;
    height: 10%;
    background-color: white;
    padding: 30px;
    position:relative;
    border: 1px solid #b3aca7;

}


.profilebtn {
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 50%;
    letter-spacing: 2px;
    padding: 14px 20px;
    background-color: darkolivegreen;
    color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.btnheader{
    width: 20%;
}
